.TodoItem {
  font-family: "SUIT-Regular";
  font-weight: 700;
  width: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  border: 1px solid black;
  margin: 15px auto;
}

.content {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.content svg {
  font-size: 3.5rem;
  padding: 0.9rem;
}

/*
.TodoItem {
  font-family: "SUIT-Regular";
  font-weight: 700;
  border: 2px solid black;
  box-shadow: 5px 5px 1px 1px black;
  display: flex;
  align-items: center;
  margin: 20px;
}

.content {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
}

.content svg {
  font-size: 5rem;
  padding: 20px;
  border-right: 2px solid black;
}

.content .text {
  margin-left: 1.5rem;
  font-size: 1.1rem;
}

.content.checked .text {
  color: white;
}

.content.checked {
  color: white;
  background-color: rgb(201, 43, 43);
}
*/