.TodoItem {
  font-family: "SUIT-Regular";
  font-weight: 700;
  width: 600px;
  margin: 15px auto;  
}

.content {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0.5px solid gainsboro;
}
.content svg {
  font-size: 3rem;
  padding: 0.9rem;
  border-right: 0.5px solid gainsboro;
  background-color: rgb(236, 230, 197);
}
.content .text {
  margin-left: 1rem;
  font-size: 0.8rem;
}
.content svg {
  background-color: #fff;
}


.content.checked {
  background-color: #f8f8f8;
  border: 0.5px solid gainsboro;
}
.content.checked .text {
}
.content.checked svg {
  background-color: rgb(244, 233, 176);
}


/*
.TodoItem {
  font-family: "SUIT-Regular";
  font-weight: 700;
  border: 2px solid black;
  box-shadow: 5px 5px 1px 1px black;
  display: flex;
  align-items: center;
  margin: 20px;
}

.content {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
}

.content svg {
  font-size: 5rem;
  padding: 20px;
  border-right: 2px solid black;
}

.content .text {
  margin-left: 1.5rem;
  font-size: 1.1rem;
}

.content.checked .text {
  color: white;
}

.content.checked {
  color: white;
  background-color: rgb(201, 43, 43);
}
*/