.add-todo-button {
  position: fixed;
  cursor: pointer;
  font-size: 4rem;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  width: 100px;
}



/* .Main {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  line-height: 90vh;
}

.Main__container {
  border: 1px solid red;
display: flex;
  flex-direction: column;
}

.Main__wrapper {
  border: 1px solid yellow;
} */
